
<<<<<<< Updated upstream
.bg-login{
    background-color: #18345e
}
=======
/* .txt-Login{ */
.txt-Login.variantOne{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    max-width: 600px;
}

.txt-Login.variantTwo{
    font-family: 'Montserrat', sans-serif;
    color: "#18345E";
    font-weight: 700;
    text-align: left;
}

.txt-Login.buttonLogin{
    font-family: 'Montserrat', sans-serif;
    color: "#18345E";
    font-weight: 700;
    text-align: center;
    font-size: small;
}

.txt-Login.bottomText{
    font-family: 'Montserrat', sans-serif;
    color: "#18345E";
    font-weight: 300;
    font-size: large;
}

.txt-Login.signUpLink{
    font-family: 'Montserrat', sans-serif;
    color: #22C1DC;
    font-weight: 700;
    text-decoration: none;
}
.txt-Login.signUpLink:link{
    color: #22C1DC;
    text-decoration: none;
}
.txt-Login.signUpLink:visited{
    color: #22C1DC;
    text-decoration: none;
}
.txt-Login.signUpLink:hover{
    color: #22C1DC;
    text-decoration: none;
}
.txt-Login.signUpLink:active{
    color: #22C1DC;
    text-decoration: none;
}

.txt-Login.inputLabel{
    font-family: 'Montserrat Alternates', sans-serif;
    color: "#18345E";
    font-weight: 400;
    text-align: left;
}
/* } */


.bg-login{
    background-color: #18345e
}

.button-login{
    background: #F0AB20;
	/* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06); */
	border-color: #F0AB20;
	border-radius: 5px;
	width: 320px;
	height: 50px;
	color:#18345E;
	font-weight: bold;
	margin-bottom: 10px;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.input-login{
    background-color: #e5e5e5;
    border:0;
    border-radius: 10px;
    min-height:45px; 
    min-width: 300px
}

.test{
    min-width: 100%
}

.sidenav{
    z-index: 1035;
}












.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.f-weight-300{
    font-weight: 300;
}
.f-weight-400{
    font-weight: 400;
}
.f-weight-600{
    font-weight: 600;
}
.f-weight-700{
    font-weight: 700;
}

.em-2{
    font-size: 2em;
}

.em-1h{
    font-size: 1.5em;
}

.color-white{
    color: white;
}

.color-secondary{
    color: #D9D9D9;
}
.color-accent{
    color: #F0AB20;
}
>>>>>>> Stashed changes

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}
.app-name{
	color: white;
	font-family: 'Montserrat';
	text-align: center;
	font-size: 35;;
}
<<<<<<< Updated upstream
.input-login{
    background-color: #e5e5e5;
    border:0;
    border-radius: 10px;
    min-height:45px; 
    min-width: 300px
}

.test{
    min-width: 100%
}

.sidenav{
    z-index: 1035;
}
.h1-login, .h1-register{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	width: 500px;
	text-align: center;
	color: #18345E;
}
.label-login, .label-register{
	width: 191px;
	height: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #18345E;
}
.input-login, .input-register{
	background-color: #F4F2F2;
	align-items: center;
	width: 320px;
	height: 35px;
	border-radius: 6px;
	border-style: none;
}
.button-login, .button-register{
	background: #F0AB20;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border-color: #F0AB20;
	border-radius: 5px;
	width: 320px;
	height: 35px;
	color:#18345E;
	font-weight: bold;
    font-size: small;
}
.link-login{
	text-decoration: none;
	color: #8F8F97;
	font-size: 13px;
}
#signInLink{
	color: #22C1DC;

}
=======

.backgroundCol{
    background-color: #F5F5F5;
}
>>>>>>> Stashed changes
