

.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.f-weight-300{
    font-weight: 300;
}
.f-weight-400{
    font-weight: 400;
}
.f-weight-600{
    font-weight: 600;
}
.f-weight-700{
    font-weight: 700;
}

.em-2{
    font-size: 2em;
}

.em-1h{
    font-size: 1.5em;
}

.color-white{
    color: white;
}

.color-secondary{
    color: #D9D9D9;
}
.color-accent{
    color: #F0AB20;
}

.bg-primaryCol{
    background-color: #18345e;
}
.bg-secondaryCol{
    background-color: #D9D9D9;
}

.backgroundCol{
    background-color: #F5F5F5;
}


.button-accent{
    --bs-btn-color: #fff;
    --bs-btn-bg: #F0AB20;
    --bs-btn-border-color: #f8ad17;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d6991e;
    --bs-btn-hover-border-color: #ce9117;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F0AB20;
    --bs-btn-active-border-color: #bd8516;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.sidenav{
    z-index: 1035;
}