<div class="sidenav sidenav-primary col-auto min-vh-100 bg-primaryCol p-0" style="width:300px; position: fixed">
    <div class="col ps-2 pe-2">
        <div class="d-flex align-items-center">
            <i class="bi bi-caret-left-fill color-accent em-2 ms-auto"></i>
            {# <i class="bi bi-pencil-square color-accent em-1h ms-auto"></i> #}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <h1 class="font-Montserrat color-white em-2 f-weight-600 mb-3">Menu</h1>
            <div class="w-25 mb-2 color-accent" style="background-color: #F0AB20; height: 5px;"></div>
            <div class="input-group rounded mb-3">
                <input type="search" class="form-control rounded font-Montserrat f-weight-400" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="border-color: #F0AB20; margin: 15px;" />
              </div>
        </div>
        <ul class="list-unstyled text-center fs-5">
        <li class="nav-item mb-4">
            <a href="#"class="nav-link text-white ">
                <span class=" d-none d-sm-inline">Licensing Tracking
                </span> 
            </a>
        </li>
        <li class="nav-item mb-4 ">
            <a href="#" class="nav-link text-white ">
                <span class="d-none d-sm-inline">Asset Tracking</span>
            </a>
        </li>
    </ul>
    </div>
</div>



