<div class="sidenav sidenav-primary min-vh-100 bg-primaryCol p-0" style="width:300px; position: fixed">
    <div class="col ps-2 pe-2">
        <div class="d-flex align-items-center">
            <i class="bi bi-caret-left-fill color-accent em-2 ms-auto"></i>
            {# <i class="bi bi-pencil-square color-accent em-1h ms-auto"></i> #}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <H1 class="font-Montserrat color-white em-2 f-weight-600 mb-3">Menu</H1>
            <div class="input-group rounded">
                <input type="search" class="form-control rounded font-Montserrat f-weight-400" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              </div>
        </div>
        
    </div>
</div>