{% extends 'views/templates/mainTemplate.html' %}

{% block content %}
    <div class="container-fluid" style="padding: 50px 50px 0px 350px;">
        <span class="font-Montserrat f-weight-600 em-2 text-start ms-4">Dashboard</span>
        <div class="h-100 d-flex flex-column justify-content-start align-items-center">
            <div class="h-100 w-100 d-flex flex-row justify-content-center align-items-start">
                <div class="bg-secondaryCol flex-fill m-4" style="height: 300px; border-radius:10px"></div>
                <div class="bg-secondaryCol flex-fill m-4" style="height: 300px; border-radius:10px"></div>
            </div>
            <div class="h-100 w-100 d-flex flex-row justify-content-center align-items-start">
                <div class="bg-secondaryCol flex-fill m-4" style="height: 300px; border-radius:10px"></div>
                <div class="bg-secondaryCol flex-fill m-4" style="height: 300px; border-radius:10px"></div>
            </div>
        </div>

    </div>
{% endblock %}