{% extends 'views/templates/mainTemplate.html' %}

{% block content %}        
    <div class="container-fluid rppit-mc-p1">
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            <div class="text-center w-75 p-3">
                <h1 class="font-Montserrat f-weight-700 display-4">Welcome to {{appName}}!</h1>
                <p class="font-Montserrat">An IT Web Management Application</p>
            </div>
            <div class="d-flex flex-row  flex-wrap justify-content-center align-items-start text-center" style="">
                {% for module in modules %}
                    <div class=" flex-fill m-4 p-3 shadow" style="min-height: 300px; min-width:500px; border-radius:10px;background: linear-gradient(180deg, #18345E -12.86%, rgba(151, 163, 180, 0.415697) 65.25%, rgba(241, 241, 241, 0) 106.85%);">
                        {% include module.2 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}