<!DOCTYPE html>
<html>
    {% include '/templates/header.html' with {'title' : title} %}
    <body>
        {% include '/components/navbar.html' with {'isLogged' : isLogged} %}
        <div class="container">
            <h1>Log in</h1>

            <form action="login" method="POST">
                {% if error == '1'%}
                    <div class="alert alert-danger" role="alert">
                        Email address or Password empty
                    </div>
                {% elseif error == '2' %}
                    <div class="alert alert-danger" role="alert">
                        Wrong email or password
                    </div>
                {% endif %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form2Example1" class="form-control" name="user_email" />
                    <label class="form-label" for="form2Example1">Email address</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example2" class="form-control" name="user_password" />
                    <label class="form-label" for="form2Example2">Password</label>
                </div>

                <div class="text-center">
                    <p>Not a member? <a href="/register">Register</a></p>
                </div>

                <!-- Submit button -->
                <input type="submit" class="btn btn-primary btn-block mb-4" name="login" value="login">
            </form>
            
        </div>
    </body>
</html>