{% extends '/views/templates/mainTemplate.html' %}

{% block content %}
<h1 class="color-accent font-Montserrat fw-bold display-5 mt-4 mb-4 ms-3">Licensing Tracking</h1>
<h2 class="color-primary font-Montserrat display-5 mt-4 mb-4 ms-3 ">Create New License </h2>
<h3 class="font-Montserrat">General</h3>
<hr>
<form>
<label class="form-label font-Montserrat f-weight-600 color-primary">Product Name</label>
<input type="text" class="form-control rppit-inbx-s1" name="user_email" />

<label class="form-label font-Montserrat f-weight-600 color-primary">Manufacturer</label>
<input type="text" class="form-control rppit-inbx-s1" name="user_email" />

<label class="form-label font-Montserrat f-weight-600 color-primary">Type</label>
<input type="text" class="form-control rppit-inbx-s1" name="user_email" />

<label class="form-label font-Montserrat f-weight-600 color-primary">Quantity</label>
<input type="number" class="form-control rppit-inbx-s1" name="user_email" />

<h3 class="font-Montserrat">Dates</h3>
<hr>
<label class="form-label font-Montserrat f-weight-600 color-primary">Purchase Date</label>
<input type="date" class="form-control rppit-inbx-s1" name="user_email" />

<label class="form-label font-Montserrat f-weight-600 color-primary">Expiration Date</label>
<input type="date" class="form-control rppit-inbx-s1" name="user_email" />

</form>
{% endblock %}