{% extends '/templates/twoColumnTemplate.html' %}


{% block column1 %}
    {% include '/components/sideLogo.html'%}   
{% endblock %}


{% block column2 %}
    <div class="col">
        {% include '/components/navbar.html' with {'isLogged' : isLogged, 'userName' : userName} %}
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            
            {% if error == 'none' %}
                <div class="alert alert-success" role="alert">
                    Success!
                </div>
            {% elseif error == '1'%}
                <div class="alert alert-danger" role="alert">
                    Some inputs were empty
                </div>
            {% elseif error == '2' %}
                <div class="alert alert-danger" role="alert">
                    Email already in use
                </div>
            {% elseif error == '3' %}
                <div class="alert alert-danger" role="alert">
                    Statement fail
                </div>
            {% endif %}

            <h1>Sign Up</h1>
            <form action="register" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class=" mb-1 form-outline">
                        <label class="form-label mb-1" for="form3Example1">First name</label>
                        <input name="firstName" type="text" class="form-control" />        
                </div>
                <div class=" mb-1 form-outline">
                        <label class="form-label mb-1" for="form3Example2">Last name</label>
                        <input name="lastName" type="text" class="form-control" />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-1">
                    <label class="form-label mb-1" for="form3Example3">Email</label>
                    <input name="email" type="email" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-1">
                    <label class="form-label mb-1" for="form3Example4">Password</label>
                    <input name="password" type="password" class="form-control" />
                </div>
                <div class="form-outline mb-1">
                    <label class="form-label mb-1" for="form3Example4">Confirm Password</label>
                    <input name="password" type="password" class="form-control" />
                </div>

                <!-- Submit button -->
                <div class="mb-4">
                <input name="register" value="Sign Up" type="submit" class="btn btn-primary btn-block mb-4">
                </div>
            </form>
        </div>
    </div>
{% endblock %}