{% extends '/templates/mainTemplate.html' %}

{% block content %}
    <div class="container-fluid" style="padding: 50px 50px 0px 290px">
        {% if error == '1'%}<div class="alert alert-danger" role="alert">Something Went Wrong</div>
        {% elseif error == '2'%}<div class="alert alert-danger" role="alert">Some inputs were empty</div>
        {% elseif error == '3'%}<div class="alert alert-danger" role="alert">Email already in use</div>
        {% elseif error == '4'%}<div class="alert alert-danger" role="alert">Statement fail</div>
        {% elseif res == '1' %} <div class="alert alert-success" role="alert">User Information Updated</div>
        {% elseif res == '2' %} <div class="alert alert-success" role="alert">User Added</div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set counter = 0 %}
                {% for user in users %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.userID }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-row = "{{user.firstName}},{{user.lastName}},{{user.userID}},{{user.id}}" id="editButton{{counter}}">
                                edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal" id="removeButton{{counter}}" data-row = "{{user.firstName}},{{user.lastName}},{{user.id}}">
                            <i class="bi bi-trash3-fill"></i>
                            </button>
                            <script defer>
                                $("#editButton{{counter}}").click(function() {
                                    let row = $("#editButton{{counter}}").data("row").split(",")
                                    console.log(row[0])
                                    $("#mod-in-firstName").val(row[0])
                                    $("#mod-in-lastName").val(row[1])
                                    $("#mod-in-email").val(row[2])
                                    $("#mod-in-id").val(row[3])
                                    $("#mod-in-row").val(`${row[0]},${row[1]},${row[2]},${row[3]}`)
                                    console.log($("#mod-in-row").val())
                                });
                            </script>
                            <script defer>
                                $("#removeButton{{counter}}").click(function(){
                                    let row = $("#removeButton{{counter}}").data("row").split(",")
                                    $("#remove-mod-prompt").text(`Do you want to delete ${row[0]} ${row[1]}'s row?`)
                                    $("#remove-mod-id").val(`${row[2]}`)
                                });
                            </script>
                        </td>
                    </tr>
                    {% set counter = counter + 1 %}
                    {% endfor %}
            </tbody>    
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" >Add New User</button>
    </div>
    {% include '/components/modals/users/editModal.html' %}
    {% include '/components/modals/users/removeModal.html' %}
    {% include '/components/modals/users/createModal.html' %}
{% endblock %}