{% extends '/templates/mainTemplate.html' %}

{% block content %}
  <div class="container-fluid" style="padding: 50px 50px 0px 290px">
    {% if error == '1'%}
      <div class="alert alert-danger" role="alert">
          Something Went Wrong
      </div>
    {% elseif error == 'n' %}
      <div class="alert alert-success" role="alert">
          User Information Updated
      </div>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set counter = 0 %}
          {% for user in users %}
              <tr>
                <td>{{ counter }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.userID }}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-row = "{{user.firstName}},{{user.lastName}},{{user.userID}},{{user.id}}" id="editButton{{counter}}">
                    edit
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal" id="removeButton{{counter}}" data-row = "{{user.firstName}},{{user.lastName}},{{user.id}}">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                  <script defer>
                    $("#editButton{{counter}}").click(function() {
                      let row = $("#editButton{{counter}}").data("row").split(",")
                      console.log(row[0])
                      $("#mod-in-firstName").val(row[0])
                      $("#mod-in-lastName").val(row[1])
                      $("#mod-in-email").val(row[2])
                      $("#mod-in-id").val(row[3])
                      $("#mod-in-row").val(`${row[0]},${row[1]},${row[2]},${row[3]}`)
                      console.log($("#mod-in-row").val())
                    });
                  </script>
                  <script defer>
                    $("#removeButton{{counter}}").click(function(){
                      let row = $("#removeButton{{counter}}").data("row").split(",")
                      $("#remove-mod-prompt").text(`Do you want to delete ${row[0]} ${row[1]}'s row?`)
                      $("#remove-mod-id").val(`${row[2]}`)
                    });
                  </script>
                </td>
              </tr>
              {% set counter = counter + 1 %}
          {% endfor %}
      </tbody>    
    </table>
  </div>

  {# Edit User Modal #}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="edit" method="POST">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input id="mod-in-firstName" name="firstName" type="text" class="form-control"/>
                          <label class="form-label" for="form3Example1">First name</label>
                      </div>
                  </div>
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input id="mod-in-lastName" name="lastName" type="text" class="form-control" value="{{user.lastName}}"/>
                          <label class="form-label" for="form3Example2">Last name</label>
                      </div>
                  </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                  <input id="mod-in-email" name="email" type="email" class="form-control" value="{{user.userID}}" placeholder="{{user.userID}}"/>
                  <label class="form-label" for="form3Example3">Email address</label>
              </div>
              <input id="mod-in-id" name="id" value="" type="hidden" class="form-control"/>
              <input id="mod-in-row" name="row" value="" type="hidden" class="form-control"/>
              <!-- Submit button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button name="edit" value="edit" type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  {# Remove User Modal (confirmation) #}
  <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label id="remove-mod-prompt"></label>
            <form action="remove" method="POST">
              <input id="remove-mod-id" name="id" value="" type="hidden" class="form-control"/>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button name="remove" value="remove" type="submit" class="btn btn-primary">Remove</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
{% endblock %}