{% extends '/views/templates/mainTemplate.html' %}

{% block content %}
    <div class="container-fluid rppit-mc-p1">
        <h1 class="color-accent font-Montserrat fw-bold display-5 mt-4 mb-4 ms-3">Licensing Tracking</h1>
            <div class="d-flex mb-4 ms-3">
                <form class="d-flex w-25" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-secondary dropdown-toggle btn-sm bg-accentCol text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">Filter</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Alphabetically A-Z</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetically Z-A</a></li>
                        <li><a class="dropdown-item" href="#">Recent</a></li>
                    </ul>
            </div>
            
            <div class="w-100 p-3" >
                <a href="/views/New_License.html" class="align-items-end">Create New +</a>
            <table class="table text-center shadow" >
                <thead class="table-light">
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Puch. Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Exp.</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr> 
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>10/02/22</td>
                        <td>Float</td>
                        <td>1</td>
                        <td>10/02/25</td>
                        <td><Select><option value=" ">Select</option></Select></td>
                    </tr> 
                </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="bi bi-caret-left-fill"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a>
              </li>
            </ul>
          </nav>
    </div>
{% endblock %}
