{% extends '/views/templates/mainTemplate.html' %}

{% block content %}
    <div class="container-fluid rppit-mc-p1">
        <h1 class="color-accent font-Montserrat fw-bold display-5 mt-4 mb-4 ms-3">Licensing Tracking</h1>
            <div class="w-100 p-3" >
            <table
                id="table"
                data-toggle="table"
                data-search="true"
                data-filter-control="true" 
                data-show-export="true"
                data-click-to-select="true"
                data-toolbar="#toolbar"
                class="table text-center table-responsive" 
            >
                <thead class="table-light">
                    <tr>
                        <th data-field="softwareName" data-sortable="true" scope="col">Software Name</th>
                        <th data-field="softwareVersion" data-sortable="true" scope="col">Software Version</th>
                        <th data-field="totalPurchased" data-sortable="true" scope="col">Total Purchased</th>
                        <th data-field="managedInstallations" data-sortable="true" scope="col">Managed Installations</th>
                        <th data-field="remaining" data-sortable="true" scope="col">Remaining</th>
                        <th data-field="complianceStatus" data-sortable="true" scope="col">Compliance Status</th>
                        <th data-field="actions" data-sortable="false" scope="col">Actions</th>
                        <th data-field="networkInstallations" data-sortable="true" scope="col">Network Installations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for license in licenses %}
                        <tr>
                            <td class="font-Montserrat f-weigth-400">{{ license.name }}</td>
                            <td class="font-Montserrat f-weigth-400">{{ license.version }}</td>
                            <td class="font-Montserrat f-weigth-400">{{ license.totalPurchased }}</td>
                            <td class="font-Montserrat f-weigth-400">{{ license.managedInstallations }}</td>
                            <td class="font-Montserrat f-weigth-400">{{ license.totalPurchased - license.managedInstallations }}</td>
                            <td class="font-Montserrat f-weigth-400">
                                {% if license.complianceStatus == 'Under Licensed' %}
                                    <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">{{license.complianceStatus}}</small>
                                {% elseif license.complianceStatus == 'Over Licensed' %}
                                    <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-success border-opacity-10 rounded-2">{{license.complianceStatus}}</small>
                                {% else %}
                                    <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-secondary bg-secondary bg-opacity-10 border border-success border-opacity-10 rounded-2">{{license.complianceStatus}}</small>
                                {% endif %}
                            </td>
                            <td class="">
                                <button type="button" class="btn button-accent font-Montserrat f-weight-400">
                                    edit
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </td>
                            <td class="font-Montserrat f-weigth-400">{{ license.networkInstallations }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="bi bi-caret-left-fill"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a>
              </li>
            </ul>
          </nav>
    </div>
{% endblock %}
